/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');

/* Please be very careful when making changes to the stylesheet */
/* Please be very careful when making changes to the stylesheet */
header h1 {
 font-family: 'Josefin Slab', serif;
  font-size: 60px;
  text-align:center;
  color: #000000;
}

.container {
  background-color: #faebd7;
  margin: auto;
  width: 1100px;
  text-align: center;
}

header {
  background-image: url(images/birdwireB-03.png);
  background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
  background-color: #ff7f50;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  color: #000000;
  padding: 10px;
}

.middle {
  background-color: antiquewhite;
}

.horizontal ul{
  text-align: center;
  list-style-type: none;
  
}
.horizontal li{
  display: inline-block;
  margin: 1px;
}

.horizontal a{
  text-decoration: none;
  list-style-type: none;
  font-family: 'Josefin Slab', serif;
  font-weight: bold;
  color: #000000;
  padding: 60px;
}

li {
  text-decoration: none;
  list-style-type: none;
  font-family: 'Josefin Slab', serif;
  font-weight: bold;
  color: #000000;
}

a {
  text-decoration: none;
  list-style-type: none;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}

nav{
  background-color: #d3d3d3;
  font-family: 'Josefin Slab', serif;
  font-size: 20px;
  text-align:left;
  color: #ff7f50;
  padding: 3px;
}

a:link, a:visited {
  font-weight: bold;
  color: #000000;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover, a:active {
  color: #ff7f50;
}
.photo p 
{margin: auto;
  width: 700px;
}
/*photo is the container for the photos and text. Here it is set the width of the text underneath the photos*/

/* Please be very careful when making changes to the stylesheet */

.content {
  background-color: #faebd7;
  display: inline-block;
  width: 800px;
  vertical-align: top;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  padding: 10px;
}



footer {
  background-image: url(images/birdwireB-03-03.png);
  background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
  background-color: #ff7f50;
  font: 'Josefin Sans';  font-family: sans-serif;
  padding: 40px;
  height: 40px;
}

h2 {
  font-family: 'Josefin Slab', serif;
  font-size: 28px;
  text-align:left;
  color: #000000;
}

h5 {
  font-family: 'Josefin Slab', serif;
  font-size: 28px;
  text-align:center;
  color: #000000;
}

/* Please be very careful when making changes to the stylesheet */

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 28px;
  background-color: #000000;
  background-image: url(images/PigeonMotif2.png);
}

p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 28px;
  text-align: left;
  color: #000000;
  padding: 10px;
  width: 800px;
}


#bird {
  display: inline-block;
  text-align: center;
}

.card {
	width:300px;
	margin:10px;
  background-color: #ff7f50;
  border-color: #ffffff;
}


/* Please be very careful when making changes to the stylesheet */

/* Nearly forgot to change color names, phew*/





















